
.footer {
    position: absolute;
}





/*

.footer .now {
    width: 100%;
    height: 100%;
    display: center;
    justify-content: space-between;


}

.footer .ft {
    height: 50px;
    width: 80%;
    float: left;
    margin: 30px;
    display: center;

}

*/
 .details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;


}

.size {
    height: 50px;
    width: 80%;
    float: left;
    margin: 30px;
padding: 10px;
   

}

 .foter-a{
    display: center;
}
 .img-f {
    height: 100px;
    width: 100px;
}









