@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color:  #2b2b2b;;
}

.container {
  max-width: 95%;
  margin: auto;

}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}
 
   /*  Form  Contact*/
 
.f_flex {
  display: flex;
}
/* nav*/
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading {
  margin: 50px 0 50px 0;
}



.heading h1 {
  font-size: 40px;
  color:#E0C04D;
}

.heading h1:hover {
  color: #ab49cc;
}

.grid {   /*  portfolio */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.text-center {
  text-align: flex-start;
}

/*----------Contact---------*/
textarea,input{
width: 100%;
padding: 10px;
border-radius: 6px;
outline: none;
border: 3px solid #0e0e0f;
box-sizing: border-box;
margin-bottom: 0px;
  resize: none;
}



/*----------Footer---------
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .left,
  .right {
    width: 100%;
  }
}*/
